
<% if current_user %>    
 <%= spaghetti 'tags', root_path %>   
<ul>
  <% @tags.each do |t| %>
    <div>
   	<% unless t.caption.blank? %>
  		<%= t.caption.text %>
	<% end %>
    <%= image_tag t.images.standard_resolution.url %>
    </div>
  <% end %>
</ul>
<% end %>
    